.config/regolith2/i3/config.d.bkp/
.config/nvim/spell
.config/google-chrome
.config/htop
.config/.gsd-keyboard.settings-ported
.config/1Password/
.config/BraveSoftware/
.config/Code/
.config/Electron/
.config/FreeCAD/
.config/Qt/
.config/QtProject.conf
.config/QtProject/
.config/SEGGER/
.config/Trolltech.conf
.config/akregatorrc
.config/chromium/
.config/clangd/
.config/cura/
.config/dconf/
.config/enchant/
.config/evolution/
.config/flameshot/
.config/foot/
.config/gcloud/
.config/gedit/
.config/gh/hosts.yml
.config/git/
.config/github-copilot/hosts.json
.config/gnome-games/
.config/gnome-initial-setup-done
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/ibus/
.config/inkscape/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kanshi/
.config/kateschemarc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded_device_automounterrc
.config/kdedefaults/
.config/kdeglobals
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/khtml/
.config/kitty/
.config/kmail2rc
.config/kmixrc
.config/konquerorrc
.config/konsolerc
.config/korgacrc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/lapce-stable/
.config/lynx/
.config/microsoft-edge-dev/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/neofetch/
.config/nushell/
.config/okularpartrc
.config/old_pulse/
.config/pavucontrol.ini
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/pypoetry/
.config/python_keyring/
.config/spectaclerc
.config/systemd/
.config/totem/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vivaldi-snapshot/
.config/vivaldi/
.config/vlc/
.config/webengineurlinterceptoradblockrc
.config/xpra/
.config/xsettingsd/
